<html>

<head>
<title> NTL </title>
<link rel="stylesheet" href="../static/style.css"> 
</head>

<script type="text/javascript">
    function load()
    {
    setTimeout("window.open(self.location, '_self');", 5000);
    }
</script>

<body onload="load()">
    <h1> Current Vitals for User: Abid </h1> 
    <p> Page will refresh every few seconds. </p>
    <div class = "container">
    <div class = "box" > <h4> Pulse </h4> <div class = "val"> <!--confusion about this working--> {% block PULSE %} {{PULSE}} {% endblock %} bpm  </div> <p> Current Pulse Reading for User</p> </div>
    <div class = "box" > <h4> Temperature</h4> <div class = "val"> {{ TEMP }}°C </div> <p> Current Temperature Reading for User</p></div>
    <div class = "box"> <h4> MQ135 Air Quality</h4> <div class = "val"> {{ MQ135 }} ppm</div> <p>Current Reading of CO2, Toluene, Acetone and NH4</p></div>
    <div class = "box"> <h4>MQ9 Air Quality</h4> <div class = "val"> {{ MQ9 }} ppm</div> <p> Current Reading of Flammable Gases</p> </div>
    </div>
    <div class = "loc"> Current Location: <a href = "https://www.google.com/maps/search/?api=1&query={{LAT}},{{LONG}}"> Google Maps </a>  <p>  {{ LAT }}° N, {{ LONG }}° E </p> </div> 
</body>

</html>
